.btn-primary {
    display: inline-block;
    background-color: var(--cta);
    color: white;
    border: 1px solid #1a3a32;
}

.btn-primary:hover {
    background-color: transparent;
    color: #1a3a32;
}

.featured-cta {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 75px;
}

.featured-btn {
    display: inline-block;
    padding: 18px 35px;
    background-color: transparent;
    color: var(--text);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    transition: all 0.3s ease;
    border: 1px solid #1a3a32;
}

.featured-btn:hover {
    background-color: var(--cta-hover);
    color: white;
}

.btn-primary, .btn-secondary {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.next-cta {
    max-width: 400px;
    width: auto;

    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.next-cta a {
    background-color: transparent;
    color: var(--text);
    border: 1px solid #1a3a32;

    padding: 15px 30px;
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease;

    display: flex;
    margin: 50px auto 0 auto;
    justify-content: center;
    width: 100%;
}

.next-cta a:hover {
    background-color: var(--cta-hover);
    color: white;
    z-index: 9998;
}

.error-btns {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.error-content .btn-primary:hover {
    background-color: #1a3a32;
}

.error-content .btn-secondary {
    border: 1px solid #1a3a32;
    color: #1a3a32;
}

.error-content .btn-secondary:hover {
    background-color: #1a3a32;
    color: white;
}