nav {
    background: transparent;
    position: absolute;
    width: 100%;
    height: 12vh;

    margin: 0;
    padding: 20px 40px;
    z-index: 9999;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 1.8rem;
    font-family: 'jetbrains mono', monospace;
    font-weight: bold;
    color: var(--main-green);
    padding: 0 20px;
    text-decoration: none;
}

nav .nav-links {
    display: flex;
    align-items: center;
    padding-right: 20px;
    gap: 35px;
}

.nav-links .logo {
    display: none;
}

.nav-links li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--text-light);
    font-size: 1.1rem;
    font-family: 'jetbrains mono', monospace;
    transition: all 0.3s ease;
}

a:hover {
    color: var(--main-green);
    filter: brightness(80%);
}

.hamburger {
    display: none;
    cursor: pointer;
}

/* Add this to your query.css or styles.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust for darkness */
    backdrop-filter: blur(4px);            /* The high-end blurred look */
    z-index: 1400;                         /* Just below the sidebar */
    
    /* Hidden state */
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}