@media (min-width: 1024px) {
    #about {
        padding: 75px 0;
    }
    #services .container .service-list {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        margin: 0 auto !important;
        align-items: center !important;
        justify-content: center;
        width: 100% !important;
        gap: 30px;
    }
    .service-list .service-item {
        max-width: 100%;
        width: 450px;
        min-height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #recent {
        min-height: 80vh;
    }
    #faqs .faq-list {
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
        gap: 30px !important;
        width: 100% !important;
        max-width: 100% !important;
        margin: 0 auto !important;
    }
    .faq-item {
        max-width: 450px;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: 770px) and (max-width: 1023px) {
    html body header.hero h1 {
        font-size: 2.2rem !important;
        max-width: none !important;
    }
}

@media (max-width: 992px) {
    .about-grid {
        grid-template-columns: 1fr !important;
    }
    #gallery {
        padding-bottom: 75px;
    }
    #gallery .grid {
        grid-template-columns: 1fr !important;
        width: 100% !important;
        justify-items: center !important;
        margin: 0 auto;
    }
    .soon, #gallery .card {
        width: 600px !important;
        height: auto;
    }
}

@media (max-width: 769px) {
    .hero .desktop-only {
        display: none;
    }
    #services .service-list {
        display: flex !important;
        flex-direction: column !important;
        margin: 0 auto !important;
        align-items: center !important;
        width: 100% !important;
        gap: 20px;
    }
    #recent {
        min-height: 60vh;
    }
    .faq-list {
        display: flex !important;
        flex-direction: column !important;
        margin: 0 auto !important;
        align-items: center !important;
        width: 100% !important;
        gap: 20px;
    }
    .soon, #gallery .card {
        width: 500px !important;
        height: auto;
    }
}

@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: row-reverse;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        z-index: 2000;
    }

    .hamburger span {
        width: 30px;
        height: 3px;
        background: var(--main-green);
        transition: 0.3s;
    }

    .nav-links {
        position: fixed;
        right: 0;
        left: 100%;
        top: 0;
        height: 100vh !important;
        width: 70%;
        background: rgba(10, 10, 10, 0.8);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-left: 1px solid var(--main-green);
        box-shadow: -10px 0 30px rgba(83, 197, 68, 0.1);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        padding-top: 60%;
        transition: left 0.3s ease-in-out;
        z-index: 1500;
    }

    .nav-links .logo {
        font-size: 3rem;
        display: flex;
        margin-top: auto;
        padding-bottom: 150px;
    }

    .nav-links.active {
        left: 30% !important;
    }
    .hamburger.toggle span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
        background-color: var(--main-green);
    }

    .hamburger.toggle span:nth-child(2) {
        opacity: 0;
        transform: translateX(-20px);
    }

    .hamburger.toggle span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    #recent {
        min-height: 40vh;
    }
    #faqs .faq-list, .service-list {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center !important;
        margin: 0 auto !important;
        width: 100%;
    }
    #final .rhetorical {
        font-size: 2rem;
        max-width: 60%;
        margin-bottom: 0 !important;
    }
}

@media (max-width: 670px) {
    body .hero h1 {
        font-size: 2.2rem !important;
        max-width: none !important;
    }
    .faq-list {
        max-width: 80%;
        width: 450px !important;
    }
    .faq-item, .service-item {
        max-width: 100%;
        width: 450px !important;
    }
    .soon, #gallery .card {
        width: 450px !important;
        height: auto;
    }
}

@media (max-width: 580px) {
    body .hero h1 {
        font-size: 2.3rem !important;
        max-width: none !important;
    }
    .about-grid {
        grid-template-columns: 1fr !important;
        padding-bottom: 75px;
    }
    #gallery .grid {
        grid-template-columns: 1fr !important;
        width: 100% !important;
        justify-items: center !important;
        margin: 0 auto;
    }
    .soon, #gallery .card {
        width: 400px !important;
        height: auto;
    }
    footer .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 520px) {
    #faqs .container .faq-list { 
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        width: 100% !important;
        padding: 0 10px !important;
    }

    html body .faq-list .faq-item {
        width: 90vw !important; 
        min-width: 0 !important;
        max-width: 90vw !important;
        
        height: auto !important;
        min-height: 300px !important;
        
        margin: 15px 0 !important;
        padding: 25px !important;
        box-sizing: border-box !important;
    }
}

@media (max-width: 480px) {
    body .hero h1 {
        font-size: 2rem !important;
        max-width: none !important;
        line-height: 1;
    }
    .hero p {
        font-size: 0.8rem;
    }
    #faqs .container .faq-list { 
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        width: 100% !important;
        padding: 0 10px !important;
    }

    html body .faq-list .faq-item {
        width: 70vw !important; 
        min-width: 0 !important;
        max-width: 70vw !important;
        
        height: auto !important;
        min-height: 300px !important;
        
        margin: 15px 0 !important;
        padding: 25px !important;
        box-sizing: border-box !important;

        backdrop-filter: blur(5px) !important;
    }
    #gallery .grid {
        grid-template-columns: 1fr !important;
        width: 100% !important;
        justify-items: center !important;
        margin: 0 auto;
    }
    .soon, #gallery .card {
        width: 350px !important;
        height: auto;
    }
    p {
        font-size: 1rem !important;
    }
    #tipsy .min-btn, #elate .min-btn {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
        margin: 40px 0 !important;
    }

    #tipsy .min-btn a, #elate .min-btn a {
        width: fit-content !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 0 auto !important;
        gap: 10px;
    }
}

@media (max-width: 420px) {
    body header.hero h1 {
        font-size: 2rem !important;
        max-width: none !important;
        line-height: 1;
    }
    .hero p {
        font-size: 0.75rem;
    }
    h2 {
        text-align: center !important;
        width: 100% !important;
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding: 0 20px !important;
    }
    #about {
        padding-top: 75px !important;
    }
    .stack-tags {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: flex-start !important;
        gap: 10px !important;
    }
    .stack-tags span {
        width: fit-content !important;
    }
    .about-stats {
        display: flex;
        flex-direction: column;
    }
    .stat-box .stat-number {
        font-size: 1.8rem;
    }
    body #recent .container img {
        width: 80vw !important;
        max-width: 80vw !important;
    }
    .faq-list {
        gap: 5px !important;
    }
    .faq-item, .service-item {
        max-width: 100%;
        width: 320px !important;
        height: auto !important;
    }
    #gallery .grid {
        grid-template-columns: 1fr !important;
        width: 100% !important;
        justify-items: center !important;
        margin: 0 auto;
    }
    .soon, #gallery .card {
        width: 300px !important;
        height: auto;
    }
    #final h2 {
        width: 90% !important;
        max-width: 90% !important;
    }
}